"" Source your .vimrc
"source ~/.vimrc

let mapleader = " "

"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=10

" Do incremental searching.
set incsearch

" Don't use Ex mode, use Q for formatting.
map Q gq

nmap <leader>ca <Action>(ShowIntentionActions)
nmap <leader>cr <Action>(Refactorings.QuickListPopupAction)
nmap gl <Action>(ShowErrorDescription)
nmap gh <Action>(QuickJavaDoc)
imap <C-j> <Action>(copilot.applyInlays)

command Reload :source ~/.ideavimrc <CR>

"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)


" Find more examples here: https://jb.gg/share-ideavimrc
